body {
    font-family: Arial, sans-serif;
    background-color: #E0E0E0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E3A5F;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

button {
    background-color: #1E3A5F;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #163152;
}

.styled-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #163152;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.styled-input:focus {
    border-color: #163152;
}

#suggestions {
    width: 100%;
    max-height: 200px; /* Set max height */
    overflow-y: auto; /* Enable scrolling */
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none; /* Hide by default */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.suggestion-item:hover {
    background: #f0f0f0;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.side-menu a {
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #163152;
    display: block;
    transition: 0.5s;
}

.side-menu a:hover {
    background-color: #0d2038;
}

.close-btn {
    height: 30px;
    width: 35px;
    font-size: 30px;
    color: #163152;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    padding: 0;
    transition: 0.5s;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    float: right;
    margin-right: 20px;
}

.menu-btn div {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

.flash-messages {
    margin: 1em auto;
    width: 80%;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

