<!DOCTYPE html>
<html lang="en">
<head>
    <title>Schedule a Meeting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        Set Meeting And Time: 
    </header>

    <div class="container">
        <form method="POST">
            <h2><b>Does the following information look correct?</b></h2>
            <br><br>
            <p>Location: {{ address }}</p>
            <p>Date: {{ date }}</p>
            <p>Time: {{ time }}</p> 
            <br><br>
            <input type="submit" id="confirm" name="confirm" value="Confirm">
            <input type="submit" id="edit" name="edit" value="Edit">
        </form>
    </div>

</body>
</html>