<!DOCTYPE html>
<html lang="en">
<head>
    <title>Schedule a Meeting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{{ url_for('static', filename='images/logo_white.png') }}" alt="Community Marketplace Logo" class="header-logo">
        Community Marketplace - Buy, Sell, Trade
        <!-- Hamburger Menu Button -->
        <button class="menu-btn" onclick="openMenu()">
            <div></div>
            <div></div>
            <div></div>
        </button>
    </header>

    <!-- Sidebar Menu -->
    <div id="sideMenu" class="side-menu">
        <a href="javascript:void(0)" class="close-btn" onclick="closeMenu()">&times;</a>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('listings.my_listings') }}">My Listings</a>
        <a href="{{ url_for('address.address_page') }}">Schedule a Meeting</a>
        <a href="{{ url_for('my_meetings.my_meetings_page') }}">My Meetings</a>
    </div>


    <div class="container">
        <form method="POST" >
            <h2>Location: {{ address }}</h2>
            <label for="date">Select Date:</label>
            <input type="date" id="date" name="date" value="{{ date or ''}}" required>
            <br><br>

            <label for="time">Select Time:</label>
            <input type="time" id="time" name="time" value="{{ time or ''}}" required>
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        function openMenu() {
            document.getElementById("sideMenu").style.width = "250px";
        }

        function closeMenu() {
            document.getElementById("sideMenu").style.width = "0";
        }
    </script>

</body>
</html>
